body {
    background-color: cornflowerblue;
    text-align: center;
}

h1 {
    text-align: center;
}

.titulo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: maroon;
    color: whitesmoke;
    width: 600px;
    font-weight: bolder;
    font-size: 30px;
    padding: 5px;
    border: 5px solid darkgoldenrod;
}

.contenedor-tiempo {
    border: 5px solid olive;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    background-color: darkviolet;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-weight: bolder;
}

.contenedor-botones {
    text-align: center;
    font-size: 2em;
}

button {
    width: 8em;
}

.botones-act {
    background-color: darkgreen;
    color: wheat;
    font-size: 1em;
}

.botones-act:hover {
    background-color: chartreuse;
    color: darkslategrey;
}

.botones-des {
    background-color: olivedrab;
    color: wheat;
    font-size: 1em;
}

.ver-tiempo {
    background-color: orange;
    color: black;
}

#reloj-svg1 {
    width: 50%;
    height: 50%;
}

#v-hora {
    stroke: black;
    stroke-width: 2;
}

#v-min {
    stroke: darkslategrey;
    stroke-width: 1.5;
}

#v-seg {
    stroke: red;
    stroke-width: 1;
}